* {
  border: none;
  border-radius: 0px;
  font-family: "VictorMono Nerd Font";
  font-weight: bold;
  font-size: 10.5px;
  min-height: 15px;
}

window#waybar {
  background: rgba(30, 30, 46, 0.8);
  border-radius: 25px;
  border: 2px solid #45475a;
}

tooltip {
  background: #1e1e2e;
  color: #cdd6f4;
  border: 2px solid #45475a;
}

#backlight,
#battery,
#clock,
#pulseaudio,
#window,
#network,
#workspaces,
#tray,
#privacy,
#temperature,
#cpu,
#memory {
  opacity: 1;
  margin: 5px 0;
  padding: 0 7px;
  color: #cdd6f4;
  border-radius: 3px;
}

#battery.charging {
  background: #a6e3a1;
  color: #1e1e2e;

}

#battery.plugged {
  background: #89b4fa;
  color: #1e1e2e;
}

#battery.warning,
#memory.high,
#temperature.warning {
  background: #fab387;
  color: #1e1e2e;
}

#battery.critical,
#memory.critical,
#temperature.critical {
  background: #f38ba8;
  color: #1e1e2e;
}

#workspaces button {
  padding: 0px 4px;
  margin: 2px;
  color: #f2cdcd;
  transition: all 0.1s linear;
}

#workspaces button.empty {
  color: #89b4fa;
  transition: all 0.1s linear;
  opacity: 1;
}

#workspaces button.active {
  color: #f38ba8;
  transition: all 0.1s linear;
  opacity: 1;
}

#custom-sep {
  opacity: 1;
  margin: 0 2px;
}

#custom-padding {
  opacity: 1;
  margin: 0 2px;
}
